
{% for value in resp %}
    {% if loop.index0 % 4 == 0 %}
        {% if loop.index0 == 0 %}
            <ul class="list-group list-group-horizontal-md">
        {% else %}
            </ul>
            <ul class="list-group list-group-horizontal-md">
        {% endif %}
    {%endif%}
    {% if value[1] == 0 %}
        <li class="list-group-item list-group-item-success col-md-3" style="font-size: 12px">
            {{ value[0] }} :  {{value[1]}}
        </li>
    {% else %}
        <li class="list-group-item list-group-item-danger col-md-3" style="font-size: 12px">
            {{ value[0] }} :  {{value[1]}}
        </li>
    {% endif %}
{% endfor %}
            </ul>