<table class="table">
    <thead>

    </thead>
    <tbody>
{% for value in resp %}
    {% if loop.index0 % 3 == 0 %}
        {% if loop.index0 == 0 %}
            <tr >
        {% else %}
            </tr>
            <tr>
        {% endif %}
    {%endif%}
    {% if value[1] == 0 %}
        <td class="table-success" scope="col" style="font-size: 12px">
            {{ value[0] }} :  {{value[1]}}
        </td>
    {% else %}
        <td class="table-danger" scope="col" style="font-size: 12px">
            {{ value[0] }} :  {{value[1]}}
        </td>
    {% endif %}
{% endfor %}
       </tbody>
    </tr>
</table>