{% extends 'template.html' %}
{% block conteudo %}

    <form class="py-3">
      <div class="form-group">
        <label for="file">Excolha o arquivo:</label>
        <input type="file" class="form-control-file" id="file">
      </div>
    </form>
    <div class="outer border">
        <table class="table table-bordered">
            <thead>
                <tr>
                    {% for label in labels %}
                        <th>{{ label }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                 {% for row in values %}
                <tr>
                    {% for value in row %}
                        <td>{{ value }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}