{% extends 'template.html' %}
{% block conteudo %}

    <div class="row">
        <div class="col-3 border-right border-dark">

            <form class="m-2" id="file_form" method="post" enctype="multipart/form-data" action="/upload_file">
                <p class="">Upload de arquivos: </p>
                <div class="input-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="file" name="file" accept="text/csv">
                        <label class="custom-file-label" for="file">Arquivo...</label>
                    </div>
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="submit">Enviar</button>
                    </div>
              </div>
            </form>
            <form class="m-2 border-top border-dark" action="/load" method="post">
                <p>Selecionar arquivo: </p>
                <div class="input-group">
                    <select class="custom-select" id="file_select" name="file_select">
                        {% for file in files %}
                        <option value="{{ file }}"> {{ file }} </option>
                        {% endfor %}
                    </select>
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="submit">Enviar</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-9">
            <div class="outer border border-dark mt-2">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            {% for label in labels %}
                                <th>{{ label }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                         {% for row in values %}
                        <tr>
                            {% for value in row %}
                                <td>{{ value }}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="row mt-2">
                <div class="col-3">
                    <div class="btn-group-vertical w-100">
                        <div class="mt-1 w-100">
                            <input type="button" id="btn_describe" class="btn btn-secondary" value="Descrição">
                        </div>
                        <div class="mt-1 w-100">
                            <input type="button" id="btn_info" class="btn btn-secondary" value="Info">
                        </div>
                        <div class="mt-1 w-100">
                            <form class="w-100" method="get" id="checkNull">
                                <input class="btn btn-secondary" type="submit" value="valores nulo">
                            </form>
                        </div>
                        <div class="mt-1 w-100">
                            <input type="button" class="btn btn-secondary" value="Excluir linha">
                        </div>
                        <div class="mt-1 w-100">
                            <input type="button" class="btn btn-secondary" value="Excluir coluna" src="/drop_column">
                        </div>
                    </div>
                </div>
                <div class="col-9">
                    <div class="outer border border-dark" id="response_area">

                    </div>
                </div>
            </div>


        </div>

    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>

{% endblock %}